*{
    margin: 0;
    padding: 0;
}

/*Generales*/

.cajaPrincSistemas{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;
}

.cajaPrincSistemasColumn{
    display: flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    align-items: center;
}

.ulCol{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-evenly;
    list-style-type: none;
    padding-left: 0px;
}

.imagenesSistemas:hover{
    animation: colorBorde 3s;
}

.tamanioCajaContacto{
    width: 330px;
}

.parrafos{
    padding-bottom: 10px;
    color:rgb(196, 190, 190);
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    text-align: center;
}

.colorParrafos{
    color:rgb(196, 190, 190);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
}

.alineacionCentro{
    text-align: center;
}

.padding5{
    padding: 6px;
}

.espacioLogo{
    padding: 2px;
    width: 110px;
    height: 51px;
}

.fondoPrincipal{
    background-image: url("../img/Black4Tablet.jpg");
}

.alineacionIzq{
    text-align: center;
}

.alineacionDerecha{
    text-align: center;
}  

.alineacionJust{
    text-align: justify;
}

.espacioInferior{
    padding-bottom: 15px;
}

/*Header*/

header{
    position: sticky;
    top: 0px;
    background-color:whitesmoke;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.nav-link{
    color:white !important;
    font-weight: bold;
}

.nav-link:hover{
    color:#0F91C3 !important;
}

.alineacionMenu{
    margin: 0px 25px 0px 25px;
}

.colorMenu{
    background-color: black !important;
}

.current{
    color:#0F91C3;
}

/*Titulos*/
h6{
    color:#0F91C3;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

h3{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #e9e8e8;
}

h2{
    color:white;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4{
    color:rgb(196, 190, 190);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.tituloPrincipal{
    color:#0F91C3;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*Botones*/

.botonesLinks{
    color: #0F91C3;
    border-style: solid;
    border-color: #0F91C3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    border-radius: 30px;
    transition: 1s;
}

.botonesLinks:hover{
    background-color: #0F91C3;
    color: white;
    transform: scale(1.1);
}


.margenesBotones{
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center;
}

.paddingBotones{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/*Index*/

.imagenesSistemas{
    border: 5px solid rgb(32, 32, 32);
    margin: 5px;
    width: 90px;
    height: 82px;
    background-color: rgb(32, 32, 32);
}

.imagenesApps{
    margin: 3px;
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
}

.imagenesApps:hover{
    filter: grayscale(0%);
}

.imagenesModulos{
    padding-left: 20px;
    padding-right: 20px;
    filter: grayscale(100%);
}

.imagenesModulos:hover{
    filter: grayscale(0%);
}

.imagenEquipo{
    width: 300px;
    height: 126px;
}

.imagenHospital{
    width: 300px;
    height: 246px;
}

/*Clientes*/

.espacionInferiorClientes{
    padding-bottom: 5px;
}
  
.imagenesClientes{
    transition: 0.5s;
}

.imagenesClientes:hover{
    transform: scale(1.07);
}

.cardTam{
    flex: 1 0 24rem;
	margin: 1rem;
	overflow: hidden;
    border: 2px solid rgb(44, 43, 43);
    transition: 1s;
}

.cardTam:hover{
    border: 2px solid #0F91C3;
}

/*Servicios*/
  
.tituloServicio{
    color: #dddcdc;
    text-transform: uppercase;
    text-align: left;
    font-family:'Montserrat', sans-serif;
    padding-top: 20px;
    font-size: 18px;
  }

  
.imgServicio{
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.cardServicio{
    border: 2px solid rgb(44, 43, 43);
    border-radius: 4px;
    padding: 1rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
    transition: 1s;
} 

.cardServicio:hover{
    transform: scale(1.03);
}
  
.thumbnail img {
    height: 180px;
    padding: 0.5rem;
}
  
.card-content {
    font-size: .75rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
  
.panel.card-panel .panel-header {
    background-color: #ffffff;
    font-size: .75rem;
    font-weight: 400;
    height: 25px !important;
}
  
.panel.card-panel .panel-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
  
.category {
    font-size: .75rem;
    text-transform: uppercase;
}

.category {
    position: absolute;
    top: 155px;
    left: 0;
    color: #fff;
    background: #e74c3c;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
  
.category__01 {
    background-color: #50c6db;
}
  
.category__02 {
    background-color: #5d5e5e;
}
  
.category__03 {
    background-color: #51bb7b;
}
  
.category__04 {
    background-color: #f47820;
}
  
.category__05 {
    background-color: #8350a0;
}
  
/*Nosotros*/

.lineaSeparador{
    border-style:solid;
    border-bottom: 1px;
    border-color:#999999;
}

.listaComun{
    list-style-type:square;
    color: rgb(196, 190, 190);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: 0px;    
    text-align: justify;
}

/*Contacto*/

.formatoLabel{
    color:rgb(196, 190, 190);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


/*Footer*/

footer div p{
    color:dimgray;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.fondoFooter{
    background-color:black;
}

.alineacionCajaFooter{
    align-self: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.alineacionSubCajaFooter{
    padding-left: 0px;
    padding-right: 0px;
}

.linksMenu{
    text-decoration: none;
    color: dimgray;
}

.linksMenu:hover{
    color:#0F91C3 !important;
}

.alineacionMenuFooter{
    margin-bottom: 10px;
}


.tituloBlanco{
    color:white !important;
    font-weight: bold;
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
}

.linea{
    border-style: solid;
    border-bottom: 3px;
    border-color:#999999;
}

.cajasRedes{
    display: flex; 
    flex-direction: row;
}

.cajasContacto{
    width: 180px;
}

.fuenteFooter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.iconosContacto{
    width: 50px;
    height: 70px;
    transition: 1s;
    
}

.iconosContacto:hover{
    transform: scale(1.2);
}

.iconosRedes{
    transition: 1s;
    filter: grayscale(100%);
    width: 32px;
    height: 32px;
}

.iconosRedes:hover{
    transform: scale(1.105);
    filter: grayscale(0%);
}

.paddingFotos{
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes animacionServicios{
    0%{
        background-image: linear-gradient(45deg, #085078, #85d8ce);
    }
    50%{
        border-style: solid;
        border-width: 5px;
        border-color:#37b5c0;
        transform: scale(1.1);
    }
}


@keyframes colorBorde{
    0%{
        border-right: 3px solid #0F91C3;
    }
    25%{
        border-bottom: 3px solid #0F91C3;
    }
    50%{
        border-left: 3px solid #0F91C3;
    }
    75%{
        border-top: 3px solid #0F91C3;
    }
    100%{
        border: 3px solid #0F91C3;
    }
}

@media screen and (min-width: 576px) {
    .tituloPrincipal{
        font-size: 32px;
    }

    h2{
        font-size: 28px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .imagenesSistemas{
        width: 100px;
        height: 92px;
    }

    .imagenEquipo{
        width: 350px;
        height: 147px;
    }

    .imagenHospital{
        width: 350px;
        height: 287px;
    }


}

@media screen and (min-width: 768px) {
    .tituloPrincipal{
        font-size: 42px;
    }

    h2{
        font-size: 38px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .imagenesSistemas{
        width: 100px;
        height: 92px;
    }

    .imagenesApps{
        width: 66px;
        height: 66px;
    }

    .imagenEquipo{
        width: 400px;
        height: 168px;
    }

    .imagenHospital{
        width: 400px;
        height: 328px;
    }
}

@media screen and (min-width: 992px) {
    .tituloPrincipal{
        font-size: 52px;
    }

    h2{
        font-size: 48px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .alineacionIzq{
        text-align: left;
    }
    
    .alineacionDerecha{
        text-align: right;
    }

    .imagenesSistemas{
        width: 130px;
        height: 122px;
    }

    .imagenesApps{
        width: 70px;
        height: 70px;
    }

    .alineacionSubCajaFooter{
        padding-left: 30px;
        padding-right: 30px;
    }

    .alineacionContacto{
        padding-left: 250px;
        padding-right: 250px;
    }

    .imagenEquipo{
        width: 440px;
        height: 185px;
    }

    .imagenHospital{
        width: 440px;
        height: 360px;
    }

    .fondoPrincipal{
        background-image: url("../img/Black4.jpg");
    }

    .listaComun{
        margin-left: 10px;   
        font-size: 20px; 
    }

    .lineaSeparador{
        display: none;
    }

    .parrafos{
        font-size: 20px;
    }

    .formatoLabel{
        font-size: 22px;
    }

    .current{
        border-bottom-style:solid;
    }

    h4{
        font-size: 15px;
    }
    
}

@media screen and (min-width: 1200px) {
    .tituloPrincipal{
        font-size: 62px;
    }

    h2{
        font-size: 58px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .alineacionIzq{
        text-align: left;
    }
    
    .alineacionDerecha{
        text-align: right;
    }

    .imagenesSistemas{
        width: 150px;
        height: 142px;
    }

    .imagenesApps{
        width: 78px;
        height: 78px;
    }

    .alineacionSubCajaFooter{
        padding-left: 30px;
        padding-right: 30px;
    }

    .imagenEquipo{
        width: 540px;
        height: 228px;
    }

    .imagenHospital{
        width: 500px;
        height: 410px;
    }

    .fondoPrincipal{
        background-image: url("../img/Black4.jpg");
    }   

    .listaComun{
        margin-left: 10px;    
        font-size: 22px;
    }

    .lineaSeparador{
        display: none;
    }

    .parrafos{
        font-size: 22px;
    }

    .formatoLabel{
        font-size: 22px;
    }

    .current{
        border-bottom-style:solid;
    }

    h4{
        font-size: 15px;
    }

}

@media screen and (min-width: 1400px) {
    .tituloPrincipal{
        font-size: 72px;
    }

    h2{
        font-size: 68px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .alineacionIzq{
        text-align: left;
    }
    
    .alineacionDerecha{
        text-align: right;
    }
    
    .imagenesSistemas{
        width: 176px;
        height: 168px;
    }

    .imagenesApps{
        width: 84px;
        height: 84px;
    }

    .alineacionSubCajaFooter{
        padding-left: 30px;
        padding-right: 30px;
    }

    .imagenEquipo{
        width: 540px;
        height: 228px;
    }

    .imagenHospital{
        width: 500px;
        height: 410px;
    }

    .fondoPrincipal{
        background-image: url("../img/Black4.jpg");
    }   

    .listaComun{
        margin-left: 10px;  
        font-size: 22px;  
    }

    .lineaSeparador{
        display: none;
    }

    .parrafos{
        font-size: 22px;
    }

    .formatoLabel{
        font-size: 22px;
    }

    .current{
        border-bottom-style:solid;
    }

    h4{
        font-size: 15px;
    }
}

